@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lexend Peta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Condensed', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;